.basket-product-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.basket-product-row-left {
    background-color: white;
}

.basket-product-row-left > img {
    max-height: 150px;
    max-width: 300px;
    width: 100%;
    object-fit: contain;
}

.basket-product-row-right {
    background-color: white;
    min-width: 250px;
    text-align: left;
    padding: 20px;
}

.delete-button {
    width: 50%;
    height: 35px;
    font-size: medium;
}

.extra-info {
    font-size: small;
    color: red;
}
