.basket-product-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.basket-product-row-left {
    background-color: blue;
    width: 50%;
    /* min-width: 300px; */
}

.basket-product-row-right {
    background-color: green;
    width: 50%;
    /* min-width: 300px; */
}