.site-header {
    background-color:rgb(242, 242, 242);
    position: relative;
    padding: 5px;
    text-align: center;
}

.site-header > hr {
    width: 90%;

}

.second-word {
    color: rgb(232, 10, 10);
}

