.product-cell {
    text-align: center;
    max-width: 500px;
    background-color: white;
    border-style: ridge;
    border-width: 1px;
}

.product-cell > img {
    display: block;
    max-width: 50%;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    border-bottom-style: solid;
    border-width: 1px;
}

.product-cell > p {
    text-align: left;
    padding-left: 20px;
}

.price {
    color: red;
    font-size: xx-large;
}

.was {
    color: grey;
}

.add {
    height: 35px;
    width: 70%;
    margin-bottom: 15px;
    font-size: medium;
}
