.product-cell {
    text-align: center;
    max-width: 500px;
    background-color: white;
    border-color: black;
    border-style: ridge;
    border-width: 1px;
}

.product-cell > img {
    display: block;
    max-width: 50%;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    border-bottom-style: solid;
    border-width: 1px;
}

.price {
    color: red;
}