.product-cell {
    text-align: center;
    max-width: 300px;
}

.product-cell > img {
    display: block;
    max-width: 60%;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
}