nav {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.nav-links {
    /* width: 70%; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
}

a {
    color:rebeccapurple;
    padding: 10px;
}