.nav-bar {
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding: 1px;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
}

.link {
    color: black;
    padding: 12px;
    text-decoration: none;
}

.link:hover {
  text-decoration: underline;  
  color:  rgb(100, 86, 189);
}