nav {
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.nav-links {
    /* width: 70%; */
    display: flex;
    justify-content: space-around;
    padding: 1px;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
}

a {
    color: black;
    padding: 12px;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;  
}